<nav>
    <div class="image">

    </div>
    <div class="text-login">
        <h1>{{ "login.title"|trans|capitalize }}</h1>
    </div>
</nav>
<article>

    <div>
        <p>Page Index</p>
    </div>
</article>

