{% if is_granted('ROLE_ADMIN') %}
<li class="{% if page.active == 'index' %}active{% endif %}">
    <a href="{{ path('user_index', { 'account': account }) }}">Liste des utilisateurs</a>
</li>
<li class="{% if page.active == 'new' %}active{% endif %}">
    <a href="{{ path('user_new', { 'account': account }) }}">Créer utilisateur</a>
</li>
<li class="{% if page.active == 'list' %}active{% endif %}">
    <a href="{{ path('user_new_list', { 'account': account }) }}">Créer liste des utilisateurs</a>
</li>
{% endif %}
