{# app/Resources/views/Emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

Hi {{ userInfo }}! You're successfully registered.

{# example, assuming you have a route named "login" #}


Thanks!