<li class="{% if page.active == 'index' %}active{% endif %}">
    <a href="{{ path('departmentinfo_index', { 'account': account }) }}">Liste des groups</a>
</li>
<li class="{% if page.active == 'new' %}active{% endif %}">
    <a href="{{ path('departmentinfo_new', { 'account': account }) }}">Créér Groupe</a>
</li>