<li class="{% if page.active == 'index' %}active{% endif %}">
    <a href="{{ path('accountinfo_index', { 'account': account }) }}">{{ "account.nav.accountsListe"|trans|capitalize }}</a>
</li>
<li class="{% if page.active == 'new' %}active{% endif %}">
    <a href="{{ path('accountinfo_new', { 'account': account }) }}">{{ "account.nav.accountCreate"|trans|capitalize }}</a>
</li>
